#view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#play-container {
    position: relative;
    display: inline-block;
}

#arrow-img {
    display: block;
    width: 100%;
    height: auto;
}

#play-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
    width: 8rem;
    font-size: 2rem;
}