.pong-game {
    padding: 24px;
    flex-shrink: 0;
}

.pong-game .div-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-radius: 10px;
    overflow: hidden;
}

.pong-game .div-game .div-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 48px; /*left right, top botton*/
    background-color: #111111;
    border-bottom: 2px solid #ffffff;
}
.pong-game .div-game .div-stats.end {
    justify-content: center;
}

.pong-game .div-game .div-stats .div-player {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pong-game .div-game .div-stats .div-player.player-lef {
    justify-content: flex-start;

}
.pong-game .div-game .div-stats .div-player.player-right {
    justify-content: flex-end;
}    

.pong-game .div-game .div-stats .div-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}

.pong-game .div-game .div-buttons {
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #111111;
    border-top: 2px solid #ffffff;
    min-height: 48px;
}

.pong-game .div-game .div-buttons button {
    font-weight: bold;
    font-size: 24px;
    flex: 1;
    padding: 12px;

}

.pong-game .div-game .div-buttons button:hover {
    font-weight: bold;
    font-size: 24px;
    background-color: #ffffff22;
}