* {
    /* Text options */
    font-family: Arial, sans-serif;
    color: #f0f0f0;

    /* div options */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

p {
    font-size: 16px; /* modificable */
    color: #d4d4d4; /* modificable */
}

#app {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #333333;
}

/* ############ */
/* button-green */
/* ############ */

.button-green {
    background-color: #7eb848; /* modificable */
  }
  
  .button-green:hover {
    background-color: #8ecf5a; /* modificable */
    color: white; /* modificable */
    box-shadow: 0 0 5px #8ecf5a;
  }

  .button-green:hover p {
    color: white; /* modificable */
  }



/* style for showing borders erase it when page is finished*/
/*div, section, article, aside, header, footer, main, nav, canvas, button {
    box-shadow: 0 0 0 1px red;
    position: relative;
}*/