:root {
    --color-lime: #7eb848; /* modificable */
    --color-dark-green: #242e1c; /* modificable */
    --color-lime-hover: #8ecf5a; /* modificable */
    --color-gray: #444444; /* modificable */
    --color-white: #f0f0f0; /* modificable */
    --color-button-fortito: #1d1d1d; /* modificable */
    --color-button-fortito-hover: #1a1a1a; /* modificable */
    --color-red: #ca1e1e; /* modificable */
}

* {
    /* Text options */
    font-family: Arial, sans-serif;
    color: var(--color-white);

    /* div options */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

p {
    font-size: 16px; /* modificable */
    color: var(--color-white); /* modificable */
}

#app {
    display: block;
    background-color: #333333;
    min-width: 100vw;
    min-height: 100vh;
}

.button-default {
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    overflow: hidden;
    transition: box-shadow 0.1s ease-in, background-color 0.1s ease-in;
}

#error-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* style for showing borders erase it when page is finished*/
/*div, section, article, aside, header, footer, main, nav, canvas, button {
    box-shadow: 0 0 0 1px red;
    position: relative;
}*/
