#page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    background-color: #242424;
    width: 400px;
}

.home-button {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.home-button img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}