#view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* modificable */
}

#view h1 {
  font-size: 42px; /* modificable */
  text-align: center; /* modificable */
}

#view section {
  display: flex;
  justify-content: space-between;
  gap: 50px; /* modificable */
}

#div-sections {
  display: flex;
  flex-direction: column;
  gap: 50px; /* modificable */
}

/* ######### */
/* section 1 */
/* ######### */

  #section-1 {
    height: 400px; /* modificable */
  }
  #section-1 #demo-gameplay {
    overflow: hidden;
    border-radius: 10px; /* modificable */
  }

  #section-1 #div-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px; /* modificable */
    width: 400px; /* modificable */
  }

  #section-1 #div-intro #div-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px; /* modificable */
  }

  #section-1 #button-play-tournament {
    background-color: #4b4b4b; /* modificable */
    color: #f0f0f0;  /* modificable */
  }
  
  #section-1 #button-play-tournament:hover {
    background-color: #585858; /* modificable */
  }
  
/* ############### */
/* Section buttons */
/* ############### */
  .button-default {
	height: 80px;
  }

  .button-default .button-content {
    display: flex;
    justify-content: left;
    gap: 12px; /* modificable */
    overflow: hidden;
    height: 100%;
  }

  .button-default img {
    max-width: 25%; /* modificable */
    height: 100%;
    object-fit: scale-down;
  }

  .button-default .button-content .button-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px; /* modificable */
	text-align: left; /* modificable */
  }

/* ######### */
/* Section 2 */
/* ######### */
  #section-2 {
    height: 500px;
  }
  
  #section-2 #div-section-2-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 500px;
  }

  #section-2 #div-section-2-right {
    padding: 30px;
  }

  #section-2 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
  }

  #section-2 #div-section-2-left-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #section-2 #button-play-ai {
    width: 70%;
  }
