.page {
    display: flex;
    justify-content: left;
    align-items: stretch;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; /* Evita scroll general en la página */
}

.content {
    display: flex; /* Flexbox */
    flex-direction: column; /* Columnas */
    flex-grow: 1; /* El contenido crece para ocupar el espacio restante */
    overflow-y: auto; /* Scroll vertical si el contenido es muy largo */
    background-color: #555555;
    align-items: center
}
/*div, section, article, aside, header, footer, main, nav, canvas, button {
    box-shadow: 0 0 0 1px red; /* Línea roja de 1px */
  }*/