main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  gap: 20px; /* modificable */
  padding: 10px; /* modificable */
}

main h1 {
  font-size: 42px; /* modificable */
  text-align: center; /* modificable */
}

main section {
  display: flex;
  justify-content: space-between;
  gap: 50px; /* modificable */
}

#div-sections {
  display: flex;
  flex-direction: column;
  gap: 50px; /* modificable */
}

/* ######### */
/* section 1 */
/* ######### */

  #section-1 {
    height: 400px; /* modificable */
  }
  #section-1 #demo-gameplay {
    overflow: hidden;
    border-radius: 10px; /* modificable */
  }

  #section-1 #div-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px; /* modificable */
    width: 400px; /* modificable */
  }

  #section-1 #div-intro #div-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px; /* modificable */
  }

  #section-1 #button-play-tournament {
    background-color: #4b4b4b; /* modificable */
    color: #f0f0f0;  /* modificable */
  }
  
  #section-1 #button-play-tournament:hover {
    background-color: #585858; /* modificable */
  }
  
/* ############### */
/* Section buttons */
/* ############### */
  
  .section-button {
    display: flex;
    align-items: left;
    width: 100%;
    height: 80px; /* modificable */
    border-radius: 15px; /* modificable */
  }
  
  .section-button .section-button-left {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%; /* modificable */
    padding: 10px; /* modificable */
  }
  
  .section-button .section-button-left img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  
  .section-button .section-button-right {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    flex-grow: 1;
    gap: 5px; /* modificable */
    text-align: left; /* modificable */
    padding-right: 10px; /* modificable */
  }
  
  .section-button .section-button-right h2 {
    font-size: 24px; /* modificable */
  }
  


/* ######### */
/* Section 2 */
/* ######### */
  #section-2 {
    background-color: #242424;
    border-radius: 10px;
    height: 500px;
  }
  
  #section-2 #div-section-2-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 500px;
  }

  #section-2 #div-section-2-right {
    padding: 30px;
  }

  #section-2 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
  }

  #section-2 #div-section-2-left-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #section-2 #button-play-ai {
    width: 70%;
  }
