#page {
    display: flex;
    justify-content: left;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #333333;
    align-items: center
}

#content footer
{
    padding-bottom: 10px;
}
