#sidebar {
    display: flex;
    flex-direction: column;
    width: 120px;
    min-width: 120px;
    height: 100vh;
    background-color: #222222;
    overflow: hidden;
}

#sidebar .upper-half {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

#sidebar .header-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    gap: 0.5rem;
    background: transparent;
    border: none;
    font-weight: bold;
    width: 100%;
}

#sidebar .header-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#sidebar .header-button img {
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

#sidebar .home-button {
    display: flex;
    justify-content: center;
    height: 120px;
    padding: 0.5rem;
}

/* ########## */
/* lower-half */
/* ########## */
#sidebar .lower-half {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar .button-login {
    border-radius: 4px ;
    height: 40px;
    width: 100%;
}
